html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.item {
    flex-grow: 20;
    transition: all 1s;
    padding: 24vh 20px 20px 20px;
    border-top: 15px solid rgba(225, 225, 225, .4);
}

.item:hover {
  filter: brightness(90%);
  border-top: 15px solid rgba(255, 255, 255, .9);
}

.collapse {
    flex-grow: 1;
}

#about {
  background: #c5c5b8;
  background-image: url("images/luke1.png");
  background-repeat: no-repeat;
  background-position: 90% 25%;
  background-blend-mode: multiply;
}

#about a {
  color: white;
  font-weight: 600;
}

#about a:hover {
  opacity: .6;
}

button {
  background: #769EA8;
  color: #fff;
  border-radius: 30px;
  border: none;
  font-size: .9em;
  text-align: center;
  display: inline-block;
  width: 180px;
  height: 50px;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  margin-top: 35px;
}

button:hover {
  background: #8EBAC5;
  box-shadow: #fff 0 0 5px;
}

#social {
  background: #FEB2A2;
  background-repeat: no-repeat;
  background-image: url("images/layout-02b.png");
  background-blend-mode: multiply;
  /* overflow: hidden; */
}

#visuals {
    background: #0C425D;
    background-image: url("images/visuals1.png");
    background-repeat: no-repeat;
    background-position: 80% 80%;
    background-blend-mode: multiply;
}

#contact {
    background: #96C3CE;
    background-image: url("images/desk2.png");
    background-repeat: no-repeat;
    background-position: 90% 95%;
    background-blend-mode: multiply;
    /* overflow: hidden; */
  }


h1 {
  text-align: left;
  color: white;
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  /* margin-top: 30%; */
}

h1:hover{
  text-decoration: underline;
}

p {
  color: white;
  font-size: 1.8rem;
  font-family: 'Work Sans', sans-serif;
  display: none;
  font-weight: 300;
}

.icon img {
  width: 84px;
  height: 84px;
  margin-right: 14px;
}

.insta {
  width: 25%;
  height: auto;
  margin: 0 14px 14px 0;
  border: solid 1px #0c425d;
}

.insta:hover {
  border: solid 1px white;
}

.icon img:hover {
  opacity: .5;
}

form {
  display: none;
  color: white;
  font-size: 1.8rem;
  font-family: 'Work Sans', sans-serif;
  display: none;
  font-weight: 300;
}

input, textarea {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  margin-top: 20px;
  vertical-align: bottom;
  font-size: 1.4rem;
  color: white;
  font-family: 'Work Sans', sans-serif;
  width: 50%;
}

:focus {outline: none;}


.overlay {
    /* opacity:0; */
    filter: alpha(opacity = 0);
    position:absolute;
    top:30px; bottom:30px; left:30px; right:0;
    display: block;
    vertical-align: bottom;
    pointer-events: none;
    z-index:1;
    background:transparent;
    font-size: 4rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: white;
    border-bottom: 2px solid #fff;
}
